
html {
    box-sizing: border-box;
    background: rgb(47, 52, 41);
}
main {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(174,217,238);
    background: radial-gradient(circle, rgba(174,217,238,1) 0%, rgba(154,233,148,1) 100%);

}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(144, 54, 179, 0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(39, 44, 201, 0.63);
    box-shadow: 0px 11px 15px -9px rgba(139, 126, 67, 0.63);
    background: rgb(174,238,187);
    background: radial-gradient(circle, rgba(174,238,187,1) 0%, rgba(148,233,223,1) 100%);
   border: 1px green solid;
   border-radius: 5px;
   margin-top: 20px;
   

}
input {
    border-radius: 5px;
    width: 80%;
    height: 30px;
}
input:hover {
    background-color: rgb(255, 239, 21);
}
button {
    margin: 10px;
    background-color: rgb(94, 255, 0);
    border-radius: 5px;
    color: rgb(129, 129, 120);
}
p {
    text-align: center;
}
