
:root{
    --primary-color: #dde8b9;
    --primary-color-dark: #E8D2AE; 
    --secondary-color: #D7B29D;
    --secondary-color-dark: #CB8589;
    --gray-color: #ccc;
    --gray-color-dark: #333;
    
    }
    